<ion-view view-title="Categorias">
	<ion-content>

		<div class="container">
			<!-- Primer Fila -->
			<div class="row">
				<div class="col cuadroCategoria">
					<div class="cuadro" ui-sref="subCategoria"><img  class="img" src="img/ani.jpg"></div>
				</div>
				<div class="col cuadroCategoria">
					<div class="cuadr ui-sref="subCategoria"><img class="img"  src="img/contaminacio.jpg"></div>
				</div>
			</div>
			<!-- Segunda Fila -->
			<div class="row">
				<div class="col cuadroCategoria">
					<div class="cuadro ui-sref="subCategoria"><img class="img" src="img/humanos.jpg"></div>
				</div>
				<div class="col cuadroCategoria">
					<div class="cuadro ui-sref="subCategoria"><img class="img" src="img/plant.jpg"></div>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>