<ion-view view-title="Sub">
	<ion-content>

		ANIMALES

		En la clasificación científica de los seres vivos, el reino Animalia (en latín, «animales») o Metazoo («metazoos») constituye un amplio grupo de organismos que son eucariotas, heterótrofos, pluricelulares y tisulares (excepto los poríferos). Se caracterizan por su amplia capacidad de movimiento, por no tener cloroplasto (aunque hay excepciones, como en el caso de Elysia chlorotica) ni pared celular, y por su desarrollo embrionario; que atraviesa una fase de blástula y determina un plan corporal fijo (aunque muchas especies pueden sufrir una metamorfosis posterior). Los animales forman un grupo natural estrechamente emparentado con los Fungi. Animalia es uno de los cinco reinos del dominio Eukaryota, y a él pertenece el ser humano


<img class="img"  src="img/1.jpg">

		<button ng-click="redireccionar()">Regresar</button>


	</ion-content>
</ion-view>