<ion-view view-title="Biologia">
  <ion-content class="padding">
    <center><h2>BIENVENIDOS</h2><br><br>
    es una aplicacion para ayudar ala enzeñanza de los niños sobre temas de ecosistemas, animales, humanos, frutas y verduras.</center>
    <div class="row">
      <div class="col-10"></div>
    </div>
    <center>
    <div class="col-100 "><h2>video del agua</h2></div>
    <div class="col-10"></div>
    <video autoplay controls src="../img/agua.mp4" class="vid"></video>
  </center>
    
  </ion-content>
</ion-view>
