body {
  margin-top: 5rem;
  background-color: #000;
}

.ui-components {
  height: 100%;
  background-color: #000;
}

// 'DNA Spinner'
$cubic-bezier-standard : 0.000, 0.000, 0.230, 1;

@mixin increment-animation($time-default:.25, $loops:1) {
  @for $i from 1 through $loops {
    &:nth-child(#{$i}) {
      animation-delay: $i * $time-default + s;
    }
  }
}

@keyframes opacity {
	to {
    opacity: 1;
  }
}

@keyframes vertical1 {
	0%,
	100% {
		transform: translateY(0) scale(1);
		z-index: 1;
	}

	50% {
		transform: translateY(3.5rem) scale(.25);
		z-index: 0;
	}
}

@keyframes vertical2 {
	0%,
	100% {
		transform: translateY(3.5rem) scale(.25);
		z-index: 0;
	}

	50% {
		transform: translateY(0) scale(1);
		z-index: 1;
	}
}


.dna-spinner {
  display: block;
  width: 47.5rem;
  height: 8rem;
  opacity: 0;
  animation: opacity 500ms linear 1750ms forwards;

  .row {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &.row-1 {
      margin-left: -.5rem;
      span {
        background: #7ad4f8;
        animation: vertical1 2.5s ease-in-out infinite;
        @include increment-animation(.15, 12);
      }
    }

    &.row-2 {
      span {
        background: #ed0000;
        animation: vertical2 2.5s ease-in-out infinite;
        @include increment-animation(.15, 12);
      }
    }
  }
  span {
    display: inline-block;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
}